body{
    color: white;
}
.main-menu{
    font-size: large;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.no-underline {
    text-decoration: none;
}
body > div{
    background-color: #021526;
}